mixin Hero({title, content, subtitleBadge, subtitle, linkText, link})
    section.hero
        img.hero__background(src="../assets/images/home__bg-min.png", alt="home bg")

        .hero__container  
            .hero__content 
                if(subtitle)
                    p.hero__subtitle
                        if(subtitleBadge)
                            span.hero__subtitle--badge= subtitleBadge 
                        span= subtitle
                
                h1.hero__title= title
                p.hero__text= content
                a.hero__cta(href={link})= linkText
                    svg(viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M1 1L9 9L1 17" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")


            .hero__images 
                .hero__images--desktop 
                    img(src="../assets/images/home__img-1.png", alt="Img 1")

                .hero__images--mobile 
                    img(src="../assets/images/home__img-2.png", alt="Img 2")