---
layout: blog-list.pug
pagination:
    data: collections
    size: 1
    alias: tag
    filter: 
        - all
permalink: "| #{tag === 'post' ? 'blog/index.html' : process.env.ELEVENTY_ENV === 'production' ? `blog/tags/${tag}/index.html` : `blog/tags/${tag}.html`}"
---

include ../_components/mixins.pug

section.section.section--no-margin
.layout
    h1.list__title Integration Stories
    .list__tags
        each currentTag in filters.keys(collections).filter(c => c !== 'all')
            a.list__tag(href=`${currentTag === 'post' ? '/blog/' : `/blog/tags/${currentTag}/`}` class= `${currentTag === tag ? 'list__tag--active' : ''}`)= `${currentTag === 'post' ? 'all' : currentTag}`
    .list__posts
        - let buildAmount = 6
        - let showMoreButton = false
        each post, index in [...collections[tag]].reverse()
            if index >= buildAmount
                - showMoreButton = true
            +postCard(post.url, post.data.post_image, post.data.date, post.data.post_title, post.data.post_excerpt, index >= buildAmount ? 'show-more-item--hidden show-more-item--hidden-out show-more-item--hidden-animation' : '')
    if showMoreButton
        button.list__pagination.list__pagination-button#more More

    script. 
        window.addEventListener('load', () => {
            handleShowMore({
                amount: 6,
                elements: ".show-more-item--hidden",
                showMoreId: "more",
            })
        })
block scripts
    script.
        analytics.page('Blog Index', { objectLocation: 'Blog Index', domain: 'fusebit.io' });

