mixin integration(logo, name, description, id)
    .popular__content-integration
        img.popular__content-integration-icon(src= `data:image/svg+xml;utf8,${encodeURIComponent(logo)}` alt= name)
        .popular__content-integration-description-wrapper 
            .popular__content-integration-description-title #{name}
            .popular__content-integration-description-text #{description}
        +cta("Try Now", `${site.portalBaseUrl}/signup?key=${id}`, "popular__content-integration-cta", null, true, "Try Now Button Clicked", "Popular", true, "_blank", "noreferrer")


section.popular.section.section--no-margin
    .popular__container.layout
        .popular__content
            h2.popular__content-title Popular #{integration.name} Integrations
            +integration(integration.logo, integration.name, integration.description, integration.id)