section.hero.section
    .background
    .hero__mark.hero__mark--yellow
    .hero__mark.hero__mark--blue
    .hero__mark.hero__mark--red
    .hero__mark.hero__mark--lightBlueHighlight
    .hero__top-right-mobile-ellipsis
    .hero__container.layout
        .hero__mark.hero__mark--blueHighlight
        .hero__mark.hero__mark--lightBlue
        .hero__content
            .hero__content-flex.hero__content-flex--margin-bottom
                .hero__content-logo-wrapper
                    img.hero__content-logo(src= `data:image/svg+xml;utf8,${encodeURIComponent(integration.logo)}` alt= integration.name)
                h1.hero__content-title #{integration.name}
            .hero__content-flex.hero__content-flex-column-mobile
                if integration.outOfPlan
                    +cta("Try Integration", null, "hero__content-cta", null, true, "Try Integration Fake Button Clicked", "Integrations", true, "_blank", "noreferrer", `window.Intercom('showNewMessage', "I'm interested in enabling ${integration.name}")`, integration.id)
                else
                    +cta("Try Integration", `${site.portalBaseUrl}/signup?key=${integration.id}`, "hero__content-cta", null, true, "Try Integration Button Clicked", "Integrations", true, "_blank", "noreferrer", false, integration.id)
                    +cta("See Documentation", integration.docs, "hero__content-cta hero__content-cta-outlined", null, true, "See Documentation Button Clicked", "Integrations", false, "_blank", "noreferrer", false, integration.id)
