extends default.pug

block page_variable
    - var pageClass = 'blog__page'

mixin tag(name, color)
    span(style=(`color: ${color}`))= name

block content
    section.section
        .background.background--neutralLight
        .background.background--straight.background--neutralLight
        .layout.post__hero-layout
            .post__autor-container
                .post__autor-avatar
                span.post__autor-name #{post_autor}
            h1 #{post_title}
            .post__info
                .post__tags
                    +tag("Popular", '#FB310A')
                .post__date
                    span #{post_date}
    section.section.section--overflow.section--no-margin
        .background.background--white
        .layout.post__content-layout.layout--no-padding-bottom
            .post__content
                .post__hero-image
                    img(src= post_image)
                article.article.post__article!= content
            .post__navigation-container
                - let prevPost = filters.getPreviousCollectionItem(collections.post, page) || null
                - let nextPost = filters.getNextCollectionItem(collections.post, page) || null
                hr
                .post__navigation-buttons 
                    if prevPost
                        a.post__navigation-button.post__navigation-button--left(href= prevPost.url) 
                            img(src='/assets/images/arrow--left.svg' alt="Arrow")
                            | Previous
                            .post__navigation-button-underline

                    if nextPost 
                        a.post__navigation-button.post__navigation-button--right(href= nextPost.url)
                            | Next
                            img(src='/assets/images/arrow--left.svg' alt="Arrow")
                            .post__navigation-button-underline
    section
        .layout.post__trending-layout
            h2 Most Recent
            .post-card-container.post__trending-list
                each post in collections.post.slice(0, 3)
                    +postCard(post.data.permalink, post.data.post_image, post.data.post_date, post.data.post_title, post.data.post_excerpt)