extends ../_layouts/default.pug

block seo_variables
    - var title = 'Fusebit | About Us'
    - var og_title = 'Fusebit: a powerful integration platform built for developers'
    - var og_description = 'With Fusebit, quickly integrate your application to other SaaS applications using flexible API building blocks. Fusebit provides connectors to popular APIs and hosts your integrations at scale.'
    - var og_image = 'https://cdn.fusebit.io/twitter/twitter-orange.png'

block page_variable
    - var pageClass = 'aboutUs'


mixin teamMember(name, position, image, linkedin, twitter)
    .aboutus__team 
        img(src=image alt="")
        h5=name
        p=position

        if linkedin || twitter
            .aboutus__team--links 
                if linkedin
                    a(href=linkedin) 
                        svg(width="22" height="22" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M2.7e-7 1.838C2.7e-7 1.35053.193646.883032.538338.53834S1.35053.00000245 1.838.00000245H20.16c.2416-.00039455.4809.04686295.7041.13906655.2233.092204.4262.227543.5971.39827.171.170726.3065.373487.399.596671.0924.22319.1399.46242.1398.70399V20.16c.0003.2416-.0471.4809-.1394.7042-.0923.2233-.2278.4262-.3986.5971-.1708.1709-.3736.3065-.5969.3989-.2232.0924-.4625.1399-.7041.1398H1.838c-.24145 0-.48054-.0476-.7036-.14-.223065-.0924-.425729-.2279-.596416-.3987-.170687-.1708-.306052-.3735-.398361-.5966-.0923097-.2231-.1397541-.4622-.13962273-.7037V1.838zM8.708 8.388h2.979v1.496c.43-.86 1.53-1.634 3.183-1.634 3.169 0 3.92 1.713 3.92 4.856v5.822h-3.207v-5.106c0-1.79-.43-2.8-1.522-2.8-1.515 0-2.145 1.089-2.145 2.8v5.106H8.708V8.388zm-5.5 10.403h3.208V8.25H3.208V18.791zM6.875 4.812c.00605.27467-.04283.54779-.14376.80332-.10093.25552-.25189.48832-.44401.68471-.19212.1964-.42153.35245-.67477.45898-.25325.10653-.52522.16141-.79996.16141s-.54671-.05488-.79995-.16141c-.25325-.10653-.48266-.26258-.67478-.45898-.19212-.19639-.34308-.42919-.44401-.68471-.10093-.25553-.14981-.52865-.14376-.80332.01187-.53914.23439-1.05221.61989-1.42931.3855-.37711.90333-.58827 1.44261-.58827s1.05711.21116 1.44262.58827c.3855.3771.60801.89017.61988 1.42931z" fill="#000")

                if twitter
                    a(href=twitter)
                        svg(width="24" height="20" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M23.643 2.93708c-.835.37-1.732.62-2.675.733.973-.58221 1.7009-1.49854 2.048-2.578-.9142.54299-1.9147.92519-2.958 1.13-.7016-.74914-1.6309-1.245677-2.6437-1.412529-1.0127-.166852-2.0522.005317-2.9571.489779-.9048.48446-1.6244 1.25411-2.047 2.18945-.4227.93534-.5247 1.98405-.2902 2.9833-1.8523-.09301-3.66438-.57445-5.31858-1.4131-1.6542-.83864-3.11358-2.01574-4.28342-3.4549-.4.69-.63 1.49-.63 2.342-.00045.76699.18843 1.52224.54988 2.19873.36144.67649.88428 1.25331 1.52212 1.67927-.73973-.02354-1.46313-.22342-2.11-.583v.06c-.00008 1.07574.37203 2.11838 1.05318 2.95102.68115.8326 1.62939 1.4039 2.68382 1.617-.68622.1857-1.40567.213-2.104.08.29749.9256.87699 1.735 1.65736 2.3149.78038.5799 1.72255.9013 2.69464.9191-1.65017 1.2954-3.68812 1.9981-5.786 1.995-.37162.0001-.74293-.0216-1.112004-.065C3.06647 18.4823 5.54534 19.2089 8.077 19.2061c8.57 0 13.255-7.098 13.255-13.25402 0-.2-.005-.402-.014-.602.9113-.65903 1.6979-1.47511 2.323-2.41l.002-.003z" fill="#000")

block content
    include ../_components/AboutUs/Hero/hero
    include ../_components/AboutUs/Teams/teams
    include ../_components/AboutUs/Founders/founders

