-
    const headerLinks = [
        {
            text: 'Developer Docs',
            link: 'https://developer.fusebit.io',
            eventName: 'Developer Docs Link Clicked',
            objectLocation: 'Header',
        },
        {
            text: 'Integrations',
            link: '/integrations/',
        },
        {
            text: 'Pricing',
            link: '/pricing/',
        },
        {
            text: 'Blog',
            link: '/blog/',
        },
        //- {
        //-     text: 'Careers',
        //-     link: '/careers/',
        //- }
        
    ]

header.header 
    .header__container 
        .header__logo 
            a(href="/") 
                include ../Logo/Logo

        .header__menu 
            ul 
                each link in headerLinks
                    li
                        a(href=link.link onclick=link.onClick class=link.eventName ? 'track-with-segment' : '' data-event-name=link.eventName data-object-location=link.objectLocation)=link.text

        .header__links 
            ul  
                li
                    a.track-with-segment(href=homepage.links.loginLink data-event-name="Login Button Clicked" data-object-location="Header") Login
                li 
                    a.track-with-segment.header__links--signUp.get-started(href=homepage.links.getStartedLink data-event-name="Sign Up Button Clicked", data-object-location="Header") Get Started
        
        .header__sidebarMobile--btn.header__sidebarMobile--btn-hidden
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21 3H3C1.9 3 1 3.9 1 5V17C1 18.1 1.9 19 3 19H8V21H16V19H21C22.1 19 23 18.1 23 17V5C23 3.9 22.1 3 21 3ZM21 17H3V5H21V17ZM19 8H8V10H19V8ZM19 12H8V14H19V12ZM7 8H5V10H7V8ZM7 12H5V14H7V12Z" fill="white"/>
            </svg>
                    if site_cta !== "disabled"
                        a.track-with-segment.header__links--signUp.get-started(href=site_cta ? site_cta : homepage.links.getStartedLink data-event-name="Sign Up Button Clicked", data-object-location="Header") Get Started

        .header__menuMobile--btn 
            span.top 
            span.center1
            span.center2
            span.bottom

    .header__menuMobile

        .menuMobile__links
            ul 
                each link in headerLinks
                    li
                        a(href=link.link onclick=link.onClick id=link.linkId class=link.eventName ? 'track-with-segment' : '' data-event-name=link.eventName data-object-location=link.objectLocation)=link.text
                li
                    a.track-with-segment(href=homepage.links.loginLink data-event-name="Login Button Clicked" data-object-location="Header") Login
                li 
                    if site_cta !== "disabled"
                        a.track-with-segment.header__links--signUp.get-started(href=site_cta ? site_cta : homepage.links.getStartedLink data-event-name="Sign Up Button Clicked", data-object-location="Header") Get Started

        .menuMobile__social 
            include ../SocialMedia/SocialMedia

    script.
            window.addEventListener('load', () => {
                let prevScroll = window.pageYOffset;
                const isBlogSite = window.location.pathname.includes('blog');
                const isMakeSite = window.location.pathname.includes('make');
                const sidebar = document.querySelector(".sidebar");
                const sidebarMobileBtn = document?.querySelector(".header__sidebarMobile--btn");

                if (sidebar) {
                    sidebarMobileBtn.classList.remove("header__sidebarMobile--btn-hidden");
                }

                if(isBlogSite || isMakeSite) {
                    const header = document.querySelector('.header');
                    header.classList.add('header--compact');
                }

                window.addEventListener('scroll', () => {
                    const currentScroll = window.pageYOffset;
                    const header = document.querySelector('.header');
                    const HIDE_NAVBAR_AT = window.innerWidth >= 1000 ? 70 : 30;

                    if (currentScroll < HIDE_NAVBAR_AT) {

                        if(!isBlogSite && !isMakeSite) {
                            header.classList.remove('header--compact');
                        }

                        return
                    } 

                    if (prevScroll > currentScroll) {
                        header.classList.add('header--compact');
                        header.classList.remove('header--hidden');
                    } else {
                        header.classList.add('header--hidden');
                    }

                    prevScroll = currentScroll;
                });

                const header = document.querySelector('.header');
                const menuMobileBtn = document.querySelector('.header__menuMobile--btn');
                const menuSidebarMobileBtn = document.querySelector('.header__sidebarMobile--btn');

                menuMobileBtn.addEventListener('click', () => {
                    header.classList.toggle('header__menuMobile--open');
                    document.querySelector('html').classList.toggle('hidden');
                    if (header.classList.contains('header__menuMobile--open')) {
                        sidebarMobileBtn.classList.add("header__sidebarMobile--btn-hidden");
                    } else {
                        sidebarMobileBtn.classList.remove("header__sidebarMobile--btn-hidden");
                    }
                });

                menuSidebarMobileBtn.addEventListener('click', () => {
                    sidebar.classList.add("sidebar--mobile-active");
                });
            });
