mixin item(img, name, outOfPlan, id, catalog, hidden)
    .gallery__item-container(class=hidden ? 'gallery__item-container--hidden' : '' data-catalog= catalog)
        .gallery__item-container-logo
            img(src=`data:image/svg+xml;utf8,${encodeURIComponent(img)}`)
        div
            p.gallery__item-container-title= name
            if outOfPlan
                button.gallery__item-container-cta.gallery__item-container-cta--disabled(onclick=`window.Intercom('showNewMessage', "I'm interested in enabling ${name}")` data-event-name="Try Integration Button Clicked" data-object-location="Integrations" data-integration= id, data-integration-type="Fake") Try Integration
            else
                a.gallery__item-container-cta.track-with-segment(href= `${site.portalBaseUrl}?key=${id}` data-event-name="Try Integration Button Clicked" data-object-location="Integrations" data-integration= id, data-integration-type="Real") Try Integration

section.section
    .background.background--white
        .mark.mark--small.mark--dark-violet.mark--left.gallery__mark-top
        .mark.mark--small.mark--dark-violet.mark--right.mark--bottom.gallery__mark-bottom.gallery__mark-bottom-desktop
        .mark.mark--big.mark--light-violet.mark--right.mark--bottom.gallery__mark-bottom.gallery__mark-bottom-mobile
    .layout.gallery__layout
        .gallery__header
            +title('Integration ', 'gallery', false, true, 'gallery__title')
            +dropdown(integrationCategories.map(category => ({
                id: category,
                label: category
            })), "categories", "Category: ")
        .gallery__grid
            - const buildAmount = 12
            each i, index in integrations
                +item(i.logo, i.name, i.outOfPlan, i.id, i.catalog, index >= buildAmount)
        button.gallery__pagination-button#more More
    script.
        const runtimeAmount = 12


        window.addEventListener('load', () => {
            handleShowMore(runtimeAmount, ".gallery__item-container--hidden[data-catalog]", "more", "gallery__item-container--hidden");

            const dropdown = new Dropdown("categories", (id) => {
                document.querySelectorAll(".gallery__item-container").forEach((el) => {
                    el.classList.add('gallery__item-container--hidden');
                });
                const button = document.querySelector("#more");
                button.style.display = "block";

                const selector = id === "All" ? "" : `*="${id}"`

                handleShowMore(runtimeAmount, `.gallery__item-container--hidden[data-catalog${selector}]`, "more", "gallery__item-container--hidden", true);
            })

            dropdown.init()

            const comingSoonButtons = document.querySelectorAll('.gallery__item-container-cta--disabled')

            for (let i = 0; i < comingSoonButtons.length; i++) {
                comingSoonButtons[i].addEventListener('click', (e) => {
                    const { eventName, ...rest } = { ...e.target.dataset };
                    analytics.track({
                        event: eventName,
                        properties: {
                            domain: 'fusebit.io',
                            ...rest
                        }
                    });
                })
            }
        })