mixin title(main, sub, black, invert, className, isMain)
    h2.title(class= black ? 'title--black' : 'title--white' class=invert && 'title--invert' class= isMain ? 'title--main' : 'title--secondary' class= className)= main
        span= sub 
            i#underscore _

mixin text(text, className)
    p.text(class= className)= text

mixin ctaArrow
    svg(viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M1 1L9 9L1 17" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")


mixin cta(text, href, className, id, trackWithSegment, name, location, disableArrow)
    a.cta(id= id href= href class=( trackWithSegment ? "track-with-segment" : false) class= className data-event-name= name || false data-object-location= location || false)= text
        if (!disableArrow) 
            +ctaArrow

mixin avatar(size, background, img, className)
    .avatar(style=("width:" + size + ";height:" + size + ";background:" + background + ";background-image:url(" + img + ")") class= className)

mixin postCard(href, img, date, title, excerpt, className)
    a.post-card(href= `/${href.replace('.html', '')}` class= className)
        .post-card-header
            .post-card-image-container
                .post-card-image(style="background-image: url('" + img + "')")
        .post-card-content
            span.post-card-date= `${filters.format(new Date(date.replace('-', '/')), 'd MMMM yyyy')}`
            h6.post-card-title= title
            p.post-card-excerpt= excerpt

mixin pathCircle(className)
    svg(width='28' height='16' viewbox='0 0 28 16' fill='none' xmlns='http://www.w3.org/2000/svg' class= className)
        g(opacity='0.6')
            circle(cx='1' cy='8' r='1' fill='#D7E5FF')
            circle(cx='27' cy='8' r='1' fill='#D7E5FF')
            circle(cx='14' cy='8' r='7' stroke='#D7E5FF' stroke-width='2')
        svg(viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M1 1L9 9L1 17" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

mixin postCard(href, img, date, title, excerpt, className)
    a.post-card(href= href class= className)
        .post-card-header
            .post-card-image-container
                - const imgSrc = filters.getImageUrl(`blog/${img}`, 900)
                .post-card-image(style="background-image: url('" + imgSrc + "')")
        .post-card-content
            span.post-card-date= `${filters.format(new Date(date.replace('-', '/')), 'd MMMM yyyy')}`
            h6.post-card-title= title
            p.post-card-excerpt= excerpt
